@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);




#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-1 H1 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}
#header4-1 P {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#header4-1 .btn {
  font-family: 'Montserrat', sans-serif;
}
#msg-box3-c .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-c .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content5-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-5 .mbr-article {
  color: #fff;
}
#content5-5 .mbr-article P {
  font-family: 'Montserrat', sans-serif;
}
#content4-4 P {
  text-align: center;
}
